{% extends "base.html" %}
{% load static sekizai_tags %}

{% block nav_main %}
    {% include "management/inc/nav-manage.html" %}
{% endblock nav_main %}

{% block body %}
{% add_data "body-class" "manage" %}
{{ block.super }}
{% endblock body %}

{% block subnav %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:"info" }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endblock subnav %}
