{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{% if content_block %}Edit Block {{ content_block.name }}{% else %}Create Block{% endif %}{% endblock title %}

{% block content %}
{% add_data "body-class" "targets" %}
{% add_data "body-class" "form-page" %}
<div class="content-wrapper">
    <div class="col-lg-12">

    {% if content_block %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'manage:dataset:view_geodataset' content_block.geodataset.uuid %}">{{ content_block.geodataset }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Block: {{ content_block.name }}</li>
            </ol>
        </nav>
    {% endif %}

    <div class="card">
        <div class="card-header">{% if content_block %}Edit Block {{ content_block.name }}{% else %}Create Block{% endif %}</div><div class="card-body">

            <form role="form" method="POST" action="" novalidate>
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary" name="save_preview">Save and Preview</button>
            <button type="submit" class="btn btn-block btn-primary" name="save">Save</button>
            {% csrf_token %}
            </form>
</div></div></div></div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>
      CodeMirror.fromTextArea(document.getElementById("id_code"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footer_js %}
