{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Create Block{% endblock title %}

{% block page_content %}
{% add_data "body-class" "targets" %}
    <div class="col-md-12">
        <h2>Create Block</h2>

            <form role="form" method="POST" action="" novalidate>
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary">Save</button>
            {% csrf_token %}
            </form>

    </div>
{% endblock %}

{% block footerjs %}
    {{ block.super }}
    <script>
      CodeMirror.fromTextArea(document.getElementById("id_code"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footerjs %}
