{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Delete {{ blocktag.name }}{% endblock title %}

{% block page_content %}
{% add_data "body-class" "targets" %}
    <div class="col-md-12">
        <h2>Delete {{ blocktag.name }}</h2>

            <form role="form" method="POST" action="">
                <p>Are you sure you want to delete <strong>{{ blocktag.name }}</strong>? You cannot undo this.</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            {% csrf_token %}
            </form>

    </div>
{% endblock %}
