{% extends "manage/manage_base.html" %}
{% load sekizai_tags %}

{% block title %}{{ organization.platform_name }} Block Categories{% endblock title %}

{% block page_content %}
{% add_data "body-class" "targets" %}
    <div class="col-md-12">
        <h2>{{ organization.platform_name }} Block Categories</h2>
        <p><a href="{% url 'manage:blocks:create_blockcategory' %}" class="btn btn-primary">New Block Category</a></p>
        <div class="card">
          <!-- Default card contents -->
          <div class="card-header">Existing Block Categories</div>
          <!-- Table -->
          <div class="table-responsive-lg">
          <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for blockcategory in blockcategories %}
                <tr>
                    <td scope="row">{{ blockcategory.name }}</td>
                    <td scope="row"><a href="{% url 'manage:blocks:update_blockcategory' blockcategory.uuid %}">Update</a></td>
                    <td scope="row"><a href="{% url 'manage:blocks:delete_blockcategory' blockcategory.uuid %}">Delete</a></td>
                </tr>
                {% endfor %}

            </tbody>
          </table></div>

        </div>

{% if is_paginated %}
{% include "inc/pagination.html" %}
{% endif %}

    </div>
{% endblock %}
