{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{{ organization.platform_name }} Blocks{% endblock title %}

{% block page_content %}
{% add_data "body-class" "targets" %}
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-9">
        <h2>{{ organization.platform_name }} Blocks</h2>
        <p><a href="{% url 'manage:blocks:create_block' %}" class="btn btn-primary">New Block</a></p>
        <div class="card">
          <!-- Default card contents -->
          <div class="card-header">Existing Blocks</div>
          <!-- Table -->
          <div class="table-responsive-lg">
          <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Geodataset</th>
                    <th>Preview</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for content_block in blocks %}
                <tr>
                    <td scope="row">{{ content_block.name }}</td>
                    <td scope="row"><a href="{% url 'manage:dataset:view_geodataset' content_block.geodataset.uuid %}">{{ content_block.geodataset.name }}</a></td>
                    <td scope="row"><a href="{% url 'manage:blocks:preview_block' content_block.uuid %}">Preview</a></td>
                    <td scope="row"><a href="{% url 'manage:blocks:update_block' content_block.uuid %}">Update</a></td>
                    <td scope="row"><a href="{% url 'manage:blocks:delete_block' content_block.uuid %}">Delete</a></td>
                </tr>
                {% endfor %}

            </tbody>
          </table></div>
        </div>

        </div>
        <div class="col-md-3">
            <form action="" method="get">
                {{ filter.form|crispy }}
                <input class="btn btn-primary btn-block" type="submit" value="Search" />
            </form>
        </div>
      </div>

        </div>

{% if is_paginated %}
{% include "inc/pagination.html" %}
{% endif %}

    </div>
{% endblock %}
