{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Preview Block {{ content_block.name }}{% endblock title %}


{% block content %}
<div class="content-wrapper">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'manage:dataset:view_geodataset' content_block.geodataset.uuid %}">{{ content_block.geodataset }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Block: {{ content_block.name }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Preview {{ content_block.name }}</div>
                    <div class="card-body">

                        <div class="embed-responsive embed-responsive-4by3"><iframe src="" class="embed-responsive-item" id="preview"></iframe></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <form role="form" method="GET" action="{% url 'manage:rendering:preview_block' %}" id="preview_form">
                            {{ form|crispy }}
                            <input class="btn btn-primary btn-block" type="submit" value="Preview" />
                        </form>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>


{% endblock content %}


{% block footer_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#preview_form').submit(function(e) {
                e.preventDefault();
                $('#preview').attr('src', '{% url 'manage:rendering:preview_block' %}?'+ $.param($(this).serializeArray()));
            })
        });
    </script>
{% endblock footer_js %}
