{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{% if content_block %}Edit Block {{ content_block.name }}{% else %}Create Block{% endif %}{% endblock title %}

{% block page_content %}
{% add_data "body-class" "targets" %}
    <div class="col-md-12">
        <h2>{% if content_block %}Edit Block {{ content_block.name }}{% else %}Create Block{% endif %}</h2>

            <form role="form" method="POST" action="" novalidate>
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary" name="save_preview">Save and Preview</button>
            <button type="submit" class="btn btn-block btn-primary" name="save">Save</button>
            {% csrf_token %}
            </form>

    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>
      CodeMirror.fromTextArea(document.getElementById("id_code"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footer_js %}
