{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/constituent/constituent.css' %}" />
{% endblock head %}

{% block body %}
    <div id="wrap" class="wrap">
        {% block content %}
        <div class="container" id="main">
            {% block subnav %}{% endblock subnav %}
            <div class="row">
                {% block page_content %}{% endblock page_content%}
            </div>
        </div>
        {% endblock content%}
    </div>
{% endblock %}
