<div class="blockwidget">
<script type="text/javascript">
    var block_choices = JSON.parse("{{ widget.options_json|escapejs }}");
</script>

<div id="block-area"></div>

<div class='block-widget-button-wrap'><button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target=".block-select-modal" id="block-button">Edit Blocks</button></div>

<div class="modal fade block-select-modal" tabindex="-1" role="dialog" aria-hidden="true" id="block-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Select blocks to include</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-blocks">
        </div>
    </div>
    </div>
  </div>
</div>

</div>
