.position-static{
    position: static;
}
.position-relative{
  position: relative;
}
.bottom-1em{
    margin-bottom: 1em;
}
.bottom-2em{
    margin-bottom: 2em;
}
.bottom-3em{
    margin-bottom: 3em;
}
.bottom-4em{
    margin-bottom: 4em;
}
.bottom-5em{
    margin-bottom: 5em;
}
.flex-row{
    margin-bottom: 5em;
    @media (min-width: $screen-md-min){
        display: flex;
    }
}
.flex-vertical{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.flex-grow{
    flex: 1;
}
.negative-top{
    margin-top: -10em;
}
.hidden{
    display: none !important;
}
img{
    max-width: 100%;
}
@each $name, $color in $manageColors {
  .#{$name}-bg {
    background: $color;
  }
}
@each $name, $color in $manageColors {
  .#{$name} {
    h5{
        color: $color;
    }
  }
}

