@font-face {
	font-family: "ofa";
	src: url('../fonts/ofa.eot');
	src: url('../fonts/ofa.eot?#iefix') format('eot'),
		url('../fonts/ofa.woff2') format('woff2'),
		url('../fonts/ofa.woff') format('woff'),
		url('../fonts/ofa.ttf') format('truetype'),
		url('../fonts/ofa.svg#ofa') format('svg');
}

.icon:before {
	font-family: "ofa";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-checkmark:before {
	content: "\E001";
}

.icon-connect:before {
	content: "\E002";
}

.icon-facebook:before {
	content: "\E003";
}

.icon-instagram:before {
	content: "\E004";
}

.icon-medium:before {
	content: "\E005";
}

.icon-menu:before {
	content: "\E006";
}

.icon-ofa:before {
	content: "\E007";
}

.icon-quote:before {
	content: "\E008";
}

.icon-twitter:before {
	content: "\E009";
}
