/* Import information for fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700|Work+Sans:400,700,800');

body{
    font-family: $body-font-family;
    font-size: $base-font-size;
    line-height: $body-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-top: 0;
}
h1{
    font-size: $font-size-h1;
    @media (max-width: $screen-xs-max){
        font-size: $font-size-h1 * 2 / 3;
    }
}
h2{
    font-size: $font-size-h2;
    .highlight{
        color: $blue;
    }
    @media (max-width: $screen-xs-max){
        font-size: $font-size-h2 * 2 / 3;
    }
}
h3{
    font-size: $font-size-h3;
    color: $blue;
    transition: all .25s;
    @media (max-width: $screen-xs-max){
        font-size: $font-size-h3 * 4 / 5;
    }
    a{
        &:after{
            transition: all .25s;
            content: "\2192";
            padding-left: 10px;
        }
        &:hover,
        &:focus{
            color: $blue;
            text-decoration: none;
            &:after{
                padding-left: 20px;
            }
        }
    }
}
h4{
    font-size: $font-size-h4;
    @media (max-width: $screen-xs-max){
        font-size: $font-size-h4 * 2 / 3;
    }
}
h5{
    color: $blue;
    font-size: $font-size-h5;
    a{
        &:after{
            content: "\2192";
            padding-left: 10px;
            transition: all .25s;
        }
        &:hover,
        &:focus{
            text-decoration: none;
            &:after{
                padding-left: 20px;
            }
        }
    }
}
h6{
    font-size: $font-size-h6;
}
p{
    margin-bottom: 26px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.icon{
    &:before{
        font-size: 2em;
        padding: 5px;
    }
}
a{
    transition: all .25s;
    &:focus{
        outline: 0;
    }
}
blockquote{
    padding-left: 20px;
    border-left: 5px solid $medium-gray;
    padding-right: 20px;
    @media (max-width: $screen-xs-max){
        margin-left: 0;
    }
}
html {
    overflow-y: scroll;
}
