{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Preview Email {{ email.name }}{% endblock title %}




{% block content %}
<div class="content-wrapper">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Preview</div>
                    <div class="card-body">
                        <div style="display: none;" id="email_meta">
                        Subject: <span id="subject"></span><br>
                        Pre-Header Text: <span id="pre_header"></span><br>
                        From: <span id="from_address"></span>

                        <hr>
                        </div>

                        <div class="embed-responsive embed-responsive-4by3"><iframe src="" class="embed-responsive-item" id="preview"></iframe></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">Details</div>
                    <div class="card-body">
                        <form role="form" method="GET" action="{% url 'manage:rendering:preview_email' %}" id="preview_form">
                            {{ form|crispy }}
                            <input class="btn btn-primary btn-block" type="submit" value="Preview" />
                        </form>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>


{% endblock content %}


{% block footer_js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#preview_form').submit(function(e) {
                e.preventDefault();
                var final_url = '{% url 'manage:rendering:preview_email' %}?'+ $.param($(this).serializeArray());
                $.getJSON(final_url, function(data) {
                    $('#preview').contents().find('html').html(data['body']);
                    $('#email_meta').show();
                    $('#subject').text(data['subject']);
                    $('#pre_header').text(data['pre_header']);
                    $('#from_address').text(data['from_address']);
                    if (data['sample_result']) {
                        alert(data['sample_result']);
                    }
                });
            })
        });
    </script>
{% endblock footer_js %}
