{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{% if wrapper %}Edit Wrapper {{wrapper.name }}{% else %}Create Wrapper{% endif %}{% endblock title %}

{% block page_content %}
{% add_data "body-class" "email" %}
    <div class="col-md-12">
        <h2>{% if wrapper %}Edit Wrapper {{wrapper.name }}{% else %}Create Wrapper{% endif %}</h2>

            <form role="form" method="POST" action="" novalidate>
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary">Edit Wrapper</button>
            {% csrf_token %}
            </form>

    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>
      CodeMirror.fromTextArea(document.getElementById("id_header"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    CodeMirror.fromTextArea(document.getElementById("id_footer"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footer_js %}
