{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Preview Email {{ email.name }}{% endblock title %}

{% block page_content %}
{% add_data "body-class" "email" %}
    <div class="col-md-12">
        <h2>Preview Email {{ email.mailingtemplate.name }}</h2>

            <form role="form" method="GET" action="{% url 'manage:rendering:preview_email' %}" id="preview_form">
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary">Preview</button>
            </form>

            <div style="display: none;" id="email_meta">
            Subject: <span id="subject"></span><br>
            Pre-Header Text: <span id="pre_header"></span><br>
            From: <span id="from_address"></span>
            </div>


            <div class="embed-responsive embed-responsive-4by3"><iframe src="" class="embed-responsive-item" id="preview"></iframe></div>


    </div>
{% endblock %}

{% block footerjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#preview_form').submit(function(e) {
                e.preventDefault();
                var final_url = '{% url 'manage:rendering:preview_email' %}?'+ $.param($(this).serializeArray());
                $.getJSON(final_url, function(data) {
                    $('#preview').contents().find('html').html(data['body']);
                    $('#email_meta').show();
                    $('#subject').text(data['subject']);
                    $('#pre_header').text(data['pre_header']);
                    $('#from_address').text(data['from_address']);
                    if (data['sample_result']) {
                        alert(data['sample_result']);
                    }
                });
            })
        });
    </script>
{% endblock footerjs %}
