{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{{ organization.platform_name }} Templates{% endblock title %}

{% block content %}
{% add_data "body-class" "targets" %}
<div class="content-wrapper">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                  <!-- Default card contents -->
                  <div class="card-header">Existing Templates</div>
                  <!-- Table -->
                  <div class="table-responsive-lg">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Election</th>
                            <th>Deadline</th>
                            <th>Days to Deadline</th>
                            <th>Preview</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mailing_template in mailing_templates %}
                        <tr>
                            <td>{{ mailing_template.name }}</td>
                            <td>{{ mailing_template.get_election_type_display }}</td>
                            <td>{{ mailing_template.get_deadline_type_display }}</td>
                            <td>{{ mailing_template.days_to_deadline }}</td>
                            <td><a href="{% url 'manage:mailer:preview_email' mailing_template.email.uuid %}">Preview</a></td>
                            <td><a href="{% url 'manage:mailer:update_template' mailing_template.email.uuid %}">Update</a></td>
                            <td><a href="{% url 'manage:mailer:delete_template' mailing_template.email.uuid %}">Delete</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                  </table></div>
                </div>
            </div>
            <div class="col-md-3">
                <a href="{% url 'manage:mailer:create_template' %}" class="btn btn-block btn-primary btn-lg btn-card">New Template</a>
                <div class="card">
                    <div class="card-header">Filter</div>
                    <div class="card-body">
                        <form action="" method="get">
                            {{ filter.form|crispy }}
                            <input class="btn btn-primary btn-block" type="submit" value="Search" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% if is_paginated %}
{% include "inc/pagination.html" %}
{% endif %}

    </div>
{% endblock %}
