{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags static %}

{% block title %}{% if mailing_template %}Edit{% else %}Create{% endif %} Template{% endblock title %}

{% block content %}
{% add_data "body-class" "email" %}
{% add_data "body-class" "form-page" %}
<div class="content-wrapper">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">Template Editor</div>
    <div class="card-body">


            <form role="form" method="POST" action="" novalidate>

                <div class="row">
                    <div class="col-md-12">
                        {{ mailing_template_form.name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        {{ mailing_template_form.deadline_type|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ mailing_template_form.election_type|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ mailing_template_form.days_to_deadline|as_crispy_field }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        {{ email_form.from_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {% comment %}
                            {{ form.tags }}
                        {% endcomment %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.subject|as_crispy_field }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.pre_header|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.body_above|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.blocks|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.body_below|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-2">
                        <button type="submit" class="btn btn-block btn-primary btn-lg" name="save_preview">Save + preview</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-block btn-primary btn-lg">Save now</button>
                    </div>
                </div>


            {% csrf_token %}
            </form>
</div></div></div>
    </div>
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/manage/blocks_widget.js' %}"></script>

    <script>
      CodeMirror.fromTextArea(document.getElementById("id_body_above"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
      CodeMirror.fromTextArea(document.getElementById("id_body_below"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footer_js %}
