{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags mailing_stats %}

{% block title %}{{ organization.platform_name }} Mailings{% endblock title %}

{% block content %}
{% add_data "body-class" "targets" %}
<div class="content-wrapper">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <!-- Default card contents -->
                  <div class="card-header">Mailings</div>
                  <!-- Table -->
                  <div class="table-responsive-lg">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Template</th>
                            <th>Deadline</th>
                            <th>Election</th>
                            <th>Sent<br>Recipients</th>
                            <th>Status</th>
                            <th>Clicks</th>
                            <th>Opens</th>
                            <th>Unsub</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mailing in mailings %}
                        <tr>
                            <td>{{ mailing.created_at|date:"M j" }}</td>
                            <td>{{ mailing.template.name }}</td>
                            <td>{{ mailing.template.get_deadline_type_display }}</td>
                            <td><a href="{% url 'manage:election:view_election' mailing.organization_election.uuid %}">{{ mailing.election }}</a></td>
                            <td>{{ mailing.sent }}<br>{{ mailing.count }}</td>
                            <td>{{ mailing.get_status_display }}</td>
                            <td>{% if mailing.stats.unique_clicks %}{{ mailing.stats.unique_clicks }}<br>{% generate_percent mailing.sent mailing.stats.unique_clicks %}{% else %}0{% endif %}</td>
                            <td>{% if mailing.stats.unique_opens %}{{ mailing.stats.unique_opens }}<br>{% generate_percent mailing.sent mailing.stats.unique_opens %}{% else %}0{% endif %}</td>
                            <td>{% if mailing.stats.unsubscribes %}{{ mailing.stats.unsubscribes }}<br>{% generate_percent mailing.sent mailing.stats.unsubscribes %}{% else %}0{% endif %}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                  </table></div>
                  {% if is_paginated %}
                      {% include "manage/inc/pagination.html" %}
                  {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

    </div>
{% endblock %}
