{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{% if mailing_template %}Edit{% else %}Create{% endif %} Template{% endblock title %}

{% block page_content %}
{% add_data "body-class" "email" %}
    <div class="col-md-12">
        <h2>Template Editor</h2>

            <form role="form" method="POST" action="" novalidate>

                <div class="row">
                    <div class="col-md-12">
                        {{ mailing_template_form.name|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        {{ mailing_template_form.deadline_type|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ mailing_template_form.election_type|as_crispy_field }}
                    </div>
                    <div class="col-md-3">
                        {{ mailing_template_form.days_to_deadline|as_crispy_field }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        {{ email_form.from_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {% comment %}
                            {{ form.tags }}  
                        {% endcomment %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.subject|as_crispy_field }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.pre_header|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.body_above|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.blocks|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ email_form.body_below|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-2">
                        <button type="submit" class="btn btn-block btn-primary btn-lg">Save + preview</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-block btn-primary btn-lg">Save now</button>
                    </div>
                </div>

            
            {% csrf_token %}
            </form>

    </div>
{% endblock %}

{% block footerjs %}
    {{ block.super }}
    <script>
      CodeMirror.fromTextArea(document.getElementById("id_body_above"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
      CodeMirror.fromTextArea(document.getElementById("id_body_below"), {
        lineNumbers: true,
        mode: "django",
        indentUnit: 4,
        lineWrapping: true
      });
    </script>
{% endblock footerjs %}
