{% extends "constituent/constituent_base.html" %}
{% load static sekizai_tags %}

{% block title %}You've successfully unsubscribed{% endblock title %}

{% block page_content %}
{% add_data "body-class" "public-page" %}
    <div class="col-md-6 offset-md-3 public-page-wrap">
        <div class="row">
            <div class="col-md-12">
            <h2>{{ organization.platform_name }}</h2>
            <p>We're sorry to see you go! You are now successfully unsubscribed from {{ organization.name }}'s election updates and reminders.</p>
            {% if organization.main_unsubscribe_url %}<p>If you'd like to also unsubscribe from {{ organization.name }}'s main email list, <a href="{{ organization.main_unsubscribe_url }}">click here</a>.</p>{% endif %}
            <p>Please get out and vote in 2018.</p>
            </div>
        </div>
    </div>
{% endblock page_content %}
