{% extends "constituent/constituent_base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block title %}Update Your Information{% endblock title %}

{% block page_content %}
{% add_data "body-class" "public-page" %}
    <div class="col-sm-6 offset-sm-3 public-page-wrap">
        <div class="row">
            <div class="col-md-12">
            <h2>Update Your Information</h2>

            <p>Want to be plugged into everything you need to know about upcoming elections in your area?</p>

            <p>Make sure we have your up-to-date information below.</p>

            <form role="form" method="POST" action="" autocomplete="off" name="lastpass-disable-search">
            {{ form|crispy }}
            <button type="submit" class="btn btn-block btn-primary">Update</button>
            {% csrf_token %}
            </form>
        </div>
        </div>
    </div>
    <script type="text/javascript">
    function initAutocomplete() {
        var input = document.getElementById('id_address');
        var options = {
          types: ['address'],
          components: ['country:us']
        };
        autocomplete = new google.maps.places.Autocomplete(input, options);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSnF27lCEIkyjUukR4uD7hYQ4w7ICMfYw&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock page_content %}
