/* Colors */
$black: #272931;
$blue: #006ca2;
$gray: #f7f7f7;
$medium-gray: #b2b2b5;
$white: #ffffff;

$background: #dae5ef;


$simple-line-font-path: "../../fonts/";
$mdi-font-path: "../../fonts";

$worksans: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

$headings-font-family: $worksans;
$headings-font-weight: 700;
$headings-line-height: 1.05;
$body-font-family: 'Source Sans Pro', serif;
$body-line-height: 1.44;
