{% extends "base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block page_content %}
{% add_data "body-class" "public-page" %}
    <div class="col-md-6 offset-md-3 public-page-wrap">
        <div class="row">
            <div class="col-md-12">
            <h2>{{ request.organization.platform_name }}</h2>
            <p class="subheading">Login to {{ request.organization.platform_name }}.</p>

            <p style="color: red">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}</p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <form role="form" method="POST" action="">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                    {% csrf_token %}
                </form>
        </div>
        </div>
    </div>
    <script type="text/javascript">
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('id_address')));
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSnF27lCEIkyjUukR4uD7hYQ4w7ICMfYw&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock page_content %}
