<br><br><br>
<p style="font-size:10px;">
This email was sent to: <b>{{ recipient.email }}</b> with the address <b>{{ recipient.location }}</b>.
<br> We believe that emails are a vital way to stay in direct contact with supporters. Click
<a href="{{ manage_url }}" style="color:#000001;">here</a> if you'd like to update your address. If you'd no longer like to receive election updates, click <a href="{{ unsubscribe_url }}">here</a> to unsubscribe.<br>
Paid for by {{ organization.name }}</p>
    </body>
</html>
