<footer class="footer footer-min">
    <div class="container">
        <div class="row">
            <div class="col-md-12 disclaimers" style="text-align: center;">
                <span>Paid for by {{ organization.name }}</span>
                <span>&copy; {% now "Y" %} {{ organization.name }}. All Rights Reserved.</span>
                {% if organization.terms_url %}
                    <span>
                        <a class="" href="{{ organization.terms_url }}">Terms</a>
                    </span>
                {% endif %}
                {% if organization.privacy_url %}
                    <span>
                        <a class="" href="{{ organization.privacy_url }}">Privacy</a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
