{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{{ organization.platform_name }} Users{% endblock title %}

{% block page_content %}
{% add_data "body-class" "people" %}
    <div class="col-md-12">

      <div class="row">

        <div class="col-md-9">
          <h2>{{ organization.platform_name }} Users</h2>
        <div class="card card-default">
          <!-- Default panel contents -->
          <div class="card-header">Users</div>
          <!-- Table -->
          <div class="table-responsive-lg">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Join Date</th>
                    <th>Location</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <th scope="row"><a href="{% url 'manage:accounts:view_user' account.username %}">{{ account }}</a></th>
                    <td>{{ account.email }}</td>
                    <td>{{ account.created_at }}</td>
                    <td>{{ account.location }}</td>
                    <td>{{ account.location.state.name }}</td>
                </tr>
                {% endfor %}

            </tbody>
          </table>
        </div>

        </div>
        </div>

        <div class="col-md-3">
            <form action="" method="get">
                {{ filter.form|crispy }}
                <input class="btn btn-primary btn-block" type="submit" value="Search" />
            </form>
        </div>
      </div>







{% if is_paginated %}
{% include "manage/inc/pagination.html" %}
{% endif %}

    </div>
{% endblock page_content %}
