{% extends "management/manage_base.html" %}
{% load sekizai_tags %}

{% block title %}{{ organization.platform_name }} Users{% endblock title %}

{% block page_content %}
{% add_data "body-class" "people" %}
    <div class="col-md-12">
        <h2>{{ organization.platform_name }} Users</h2>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Users</div>
          <!-- Table -->
          <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Join Date</th>
                    <th>Location</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <th scope="row"><a href="{% url 'manage:accounts:view_user' account.username %}">{{ account }}</a></th>
                    <td>{{ account.email }}</td>
                    <td>{{ account.created_at }}</td>
                    <td>{{ account.location }}</td>
                    <td>{{ account.location.state.name }}</td>
                </tr>
                {% endfor %}

            </tbody>
          </table>

        </div>

{% if is_paginated %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

    </div>
{% endblock page_content %}
