
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">
  <a class="navbar-brand" href="{% url 'manage:manage' %}">{{ organization.platform_name }}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'manage:manage' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Email
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Mailings</a>
          <a class="dropdown-item" href="{% url 'manage:mailer:list_templates' %}">Templates</a>
          <a class="dropdown-item" href="{% url 'manage:mailer:list_wrappers' %}">Wrappers</a>
          <a class="dropdown-item" href="#">Senders</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'manage:accounts:list_users' %}">Find People</a>
          <a class="dropdown-item" href="{% url 'manage:user_import:list_imports' %}">Import</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Targets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Elections</a>
          <a class="dropdown-item" href="{% url 'manage:targeting:list_targets' %}">Targets</a>
          <a class="dropdown-item" href="{% url 'manage:targeting:list_targettags' %}">Target Tags</a>
          <a class="dropdown-item" href="{% url 'manage:blocks:list_blocks' %}">Blocks</a>
          <a class="dropdown-item" href="{% url 'manage:blocks:list_blocktags' %}">Block Tags</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ organization.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Theme</a>
          <a class="dropdown-item" href="{% url 'manage:branding:update_organization' %}">Settings</a>
          <a class="dropdown-item" href="#">Manage Staff</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.first_name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'manage:manage_logout' %}">Logout</a>
          <a class="dropdown-item" href="{% url 'admin:password_change' %}">Change Password</a>
          <a class="dropdown-item" href="#">Get Support</a>
        </div>
      </li>

    </ul>
  </div>
</div>
</nav>
