.manage {
    #main {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @each $name, $color in $manageColors {
        &.#{$name} {
            h2 {
                color: $color;
            }
        }
    }

    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    input {
        font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


    form {
        .textInput, .urlinput {
            font-size: 30px;
        }
        input[type="file"] {
            border: 0 !important;
            outline: none;
        }
        .form-control {
            &:focus {
                box-shadow: none;
                border: 1px solid #999 !important;
            }
            color: #000;
        }
        input[type="submit"], textarea {
            &:focus {
                border: 0 !important;
            }
        }
    }

}


.feature-button{
    color: $white;
    margin-bottom: 1.5em;
    padding: 50px;
    h2{
        margin: 0;
        padding: 0;
        &:after{
            content: "\2192";
            left: 100%;
            position: absolute;
            transition: transform .25s;
        }
    }
    &:hover{
        h2{
            &:after{
                transform: translateX(20px);
            }
        }
    }
    @include media-breakpoint-down(xs){
        background: none;
        padding: 5px 30px;
        h2:after{
            position: static;
            padding-left: 15px;
        }
        @each $name, $color in $manageColors {
            &.#{$name}-bg {
                color: $color;
            }
        }
    }
}