{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags static %}

{% block title %}{{ organization.platform_name }} User Imports{% endblock title %}

{% block content %}
{% add_data "body-class" "people" %}
{% add_data "body-class" "form-page" %}
<div class="content-wrapper">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header">New Import</div><div class="card-body">
        <p>Base your import off this <a href="{% static "user_import/example_import.csv" %}">example template</a>.</p>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary btn-lg" value="Import" />
</form>
</div></div></div></div>
    </div>
{% endblock content %}
