{% extends "management/manage_base.html" %}
{% load sekizai_tags %}

{% block title %}{{ organization.platform_name }} User Imports{% endblock title %}

{% block page_content %}
{% add_data "body-class" "people" %}
    <div class="col-md-12">
        <h2>{{ organization.platform_name }} User Imports</h2>
        <p><a href="{% url 'manage:user_import:create_import' %}" class="btn btn-primary">New Import</a></p>
        <div class="card">
          <!-- Default card contents -->
          <div class="card-header">Existing User Imports</div>
          <!-- Table -->
          <div class="table-responsive-lg">
          <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Succeded</th>
                    <th>Failed</th>
                </tr>
            </thead>
            <tbody>
                {% for import in imports %}
                <tr>
                    <th scope="row">{% if import.file %}
                      <a href="{{ import.file.url }}">{{ import.name }}</a>{% else %}{{ import.name}}{% endif %}</th>
                    <td>{{ import.modified_at }}</td>
                    <td>{{ import.status }}</td>
                    <td>{{ import.total_succeeded }}</td>
                    <td>{{ import.total_failed }}</td>
                </tr>
                {% endfor %}

            </tbody>
          </table></div>

        </div>

{% if is_paginated %}
{% include "inc/pagination.html" %}
{% endif %}

    </div>
{% endblock page_content %}
