{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ request.organization.platform_name }}{% endblock title %}</title>

    {# For now, don't allow robots to index or archive page #}
    <meta name="robots" content="noindex">
    <meta name="robots" content="noarchive">
{% block head %}
{% endblock head %}
</head>

{# Body Class #}
{% with_data "body-class" as body_classes %}
<body {% block extrabody %}{% endblock %} class="{% for body_class in body_classes %}{{ body_class }} {% endfor %}">
{% end_with_data %}

{# Main Body #}
{% block body %}
{% endblock %}

{# Javascript Footer #}
{% block footer_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap.js' %}"></script>
{% endblock %}

</body>
</html>
