.public-page {
    background-color: "#000";
    background-image: url(../../img/img/vote_background.png);
    @include cover-settings;
    background-attachment: fixed;

    .public-page-wrap {
        background-color: #fff;
        margin-top: 75px;
        margin-bottom: 75px;
        padding: 50px;

        @include media-breakpoint-down(sm){
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 30px;
        }
    }

}
