{% extends "manage/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}{{ organization.platform_name }} Administrators{% endblock title %}

{% block content %}
{% add_data "body-class" "settings" %}
<div class="content-wrapper">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <!-- Default card contents -->
                  <div class="card-header">{{ organization.platform_name }} Administrators</div>
                  <!-- Table -->
                  <div class="table-responsive-lg">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Login</th>
                            <th>Notifications</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user }}</td>
                            <td>{{ user.last_login }}</td>
                            <td><a href="{% url 'manage:notifications:update_notificationsettings' user.notificationsetting.uuid %}">Update Notification Settings</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                  </table></div>

                    {% if is_paginated %}
                        {% include "manage/inc/pagination.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

    </div>
{% endblock %}
