<header class="container-fluid header-full">
    <div class="row position-relative">
        <div class="col-md-2 col-xs-6">
            <div class="logo">
                <a href="/">
                    <span class="sr-only">{{ organization.name }}</span>
                </a>
            </div>
        </div>
        <div class="hidden-lg hidden-md col-xs-6 mobile-menu">
            <a href="#" class="icon icon-menu"><span class="sr-only">Menu</span></a>
        </div>
        <div class="col-md-8 position-static header-menu">
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav class="navbar-center">
                    <ul class="nav navbar-nav">

<li class="nav-main-item nav-item">
        <a href="/">Hey</a>
</li>


                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
